body {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

.navhead {
    max-width:100%;
    margin: auto;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {

font-size: 1em;
align-items: center;
}

a {
    text-decoration: none;
}

.section-title {
    text-align: center;
    margin-bottom: 45px;
}
.section-title span {
    color: #e73c3e;
}
.section-title h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 14px;
}
.section-title p {
    max-width: 570px;
    margin: auto;
}
.headerSection {
    background: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
}


.d-table {
    width: 100%;
    height: 100%}
.d-table-cell {
    vertical-align: middle;
}
.page-title-area {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
}
.photo-bg{
    background: url(https://templates.envytheme.com/finix/default/assets/img/page-title/bg-3.jpg);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .2;
    /*filter: blur(1px);
  -webkit-filter: blur(1px);*/
}

.headid {
    background: none !important;
    padding: 0;
}

p,
span {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Rubik', sans-serif;
}


.page-title-content {
    text-align: center;
    margin-top: -10px;
}
.page-title-content h2 {
    margin-bottom: 0;
    color: #111;
    font-family: roboto, sans-serif;
    font-size: 48px;
}
.page-title-content ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 0;
}
.page-title-content ul li {
    color: #606060;
    display: inline-block;
    position: relative;
    font-family: rubik, sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.page-title-content ul li a {
    display: inline-block;
    color: #e73c3e;
    -webkit-transition: .5s;
    transition: .5s;
}
.page-title-content ul li a:hover {
    color: #e73c3e;
}
.page-title-content ul li::before {
    position: absolute;
    right: -14px;
    top: 5px;
    width: 1px;
    content: '';
    height: 18px;
    background-color: #606060;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.page-title-content ul li:last-child::before {
    display: none;
}
.logo a img {
    width: 150px;
}

.services-area{
    padding-top: 70px;
    padding-bottom: 40px;
}

.services-area {
    background-color: #f9fafb;
}
.services-area.bg-color {
    background-color: #fff;
}
.services-area.bg-color .services-item {
    background-color: #f9fafb;
}
.services-item {
    
    text-align: center;
    background-color: #D8EDEC;
    padding: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 30px;
}
.services-item::before {
    position: absolute;
    content: "";
    height: 65%;
    width: 90%;
    background-color: #fdebeb;
    left: 0;
    right: 0;
    margin: auto;
    top: -130px;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
}
.services-item .icon {
    margin-bottom: 20px;
    position: relative;
}
.services-item .icon i {
    display: inline-block;
    height: 90px;
    width: 90px;
    line-height: 90px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    text-align: center;
    font-size: 50px;
    color: #e73c3e;
    border-radius: 50px;
    -webkit-transition: .5s;
    transition: .5s;
}
.services-item h3 {
    font-size: 25px;
    margin-bottom: 20px;
}
.services-item .learn-btn {
    color: #e73c3e;
    display: inline-block;
    font-weight: 500;
    font-family: rubik, sans-serif;
}
.services-item:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.services-item:hover::before {
    background-color: #e73c3e;
}
.myMenu ul {
    margin: 0;
    margin-left: 180px;
}

.myMenu ul li {
    padding: 0 9px;
    transition: .4s;
    transition-timing-function: ease-in-out;
}

.myMenu ul li ul {
    margin: 0;
    padding: 7px 0;
    list-style: none;
    position: absolute;
    background: white;
    margin-top: 31px;
    transition: all.4s;
    transition-timing-function: ease-in-out;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.myMenu ul li ul li {
    width: 264px;
    padding: 10px 24px;
    position: relative;
}

.myMenu ul li ul li a {
    width: 110%;
    display: block;
    padding: 0 !important;
}

.myMenu ul li ul li a:hover {
    letter-spacing: 1px;
}
.myMenu ul li ul li a.nav-link.active:hover {
    letter-spacing: 0px;
}

.myMenu ul li ul li a span {
    margin-left: 140px;
}

.myMenu ul li ul li ul {
    visibility: hidden !important;
    opacity: 0 !important;
    left: -263px;
    transition: .4s;
    transition-timing-function: ease-in-out;
}

.myMenu ul li ul li:hover ul {
    visibility: visible !important;
    opacity: 1 !important;
    margin-top: -22px;
}

.myMenu ul li:hover ul {
    display: block;
    margin: 0;
    visibility: visible;
    opacity: 1;
}

.myMenu ul li a {
    font-weight: 500;
    font-size: 16px;
    color: #000 !important;
    transition: .4s;
}


.nav-link.active {
    color: #e83b3e !important;
}

.myMenu ul li:hover>a {
    color: #e83b3e !important;
}

.myMenu ul li a span {
    font-size: 12px;
    margin-left: 1px;
}
.callDiv {
    display: flex;
    align-items: center;
}

.callIconSrch {
    border-right: 1px solid #0000002e;
}

.callIconSrch a {
    color: black;
    margin-left: -36px;
    font-size: 19px;
}


.mainCall span {
    float: left;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 31px;
    margin: 7px;
    margin-right: 12px;
}

.mainCall span img {
    margin-left: 12px;
    width: 32px;
}

.mainCall h4 {
    width: 166px;
    font-size: 17px;
    font-weight: 400;
    color: #00000096;
    margin-top: 12px;
    margin-bottom: 0;
}

.mainCall a {
    width: 217px;
    display: block;
    color: black;
    font-weight: 500;
    margin-top: 2px;
}

.btnCallApply a:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
}

.btnCallApply a::after {
    content: "";
    width: 0%;
    height: 0%;
    background: black;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    transition: .4s;
    border-radius: .3rem;
}

.btnCallApply a {
    padding: 11px 10px;
    width: 159px;
    background: #e83b3e;
    font-size: 16px;
    position: relative;
    z-index: 0;
    border: none;
    transition: .4s;
}

.bannerSection {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.allBanner {
    padding: 20px;
    padding-top: 246px;
}

.allBanner h5 {
    color: #e83b3e;
    font-weight: 400;
    font-size: 18px;
}

.allBanner h1 {
    font-size: 67px;
    width: 48%;
    margin-top: 15px;
}

.allBanner p {
    width: 45%;
    font-size: 18px;
    color: #000000b3;
    margin-top: -22px;
}

.bannerBtn {
    margin-top: 33px;
}
.contactBanner {
    display: flex;
    margin-top: 195px;
}

.contactBanner p {
    display: contents;
    color: black;
}

.contactBanner p::after {
    content: "";
    width: 35px;
    height: 1px;
    background: black;
    margin-top: 12px;
    margin-left: 9px;
}

.contactBanner a {
    margin-left: 17px;
    color: black;
    transition: .5s;
}

.contactBanner a:hover {
    color: #e83b3e;
}

.footerSection {
    background: #111111;
    color: white;
    padding: 100px 0;
    padding-bottom: 0;
}

.singleFooterTop {
    padding: 0 4px;
}

.oneLeftsinglefooterTop p {
    padding: 20px 0;
    width: 95%;
}

.oneLeftsinglefooterTop ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.oneLeftsinglefooterTop ul li {
    padding-right: 14px;
}

.oneLeftsinglefooterTop ul li span {
    font-weight: bold;
}

.oneLeftsinglefooterTop ul li a i {
    color: white;
    transition: .4s;
}

.imgoLSfTop {
    padding-bottom: 23px;
}
.imgoLSfTop a img {
    max-width: 47%;
}

.TwoThreeSameLeftsinglefooterTop ul {
    padding: 0;
    list-style: none;
    padding-top: 30px;
    border-top: 1px solid #ffffff21;
}

.TwoThreeSameLeftsinglefooterTop ul li {
    padding: 8px 0;
}

.TwoThreeSameLeftsinglefooterTop ul li a {
    color: white;
    transition: .5s;
}


.headTTsLsFT h3 {
    margin-bottom: 25px;
    font-size: 20px;
}


.fullRightsinglefooterTop ul {
    padding: 0;
    padding-top: 0px;
    list-style: none;
    padding-top: 30px;
    border-top: 1px solid #ffffff21;
}

.fullRightsinglefooterTop ul li {
    display: flex;
    padding: 6px 0;
}

.fullRightsinglefooterTop ul li span {
    background-size: 23px !important;
    width: 24px;
    display: block;
    height: 40px;
    background-repeat: no-repeat !important;
    margin-top: 7px;
}

.textftdfx p {
    margin-left: 23px;
    width: 243px;
}

.textftdfx p a {
    display: table;
    color: white;
    transition: .4s;
}

.oneLeftsinglefooterTop ul li a i:hover {
    color: #e83b3e;
}

.TwoThreeSameLeftsinglefooterTop ul li a:hover {
    color: #e83b3e;
    letter-spacing: 1px;
}

.textftdfx p a:hover {
    color: #e83b3e;
}

.footerBottom {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #ffffff24;
    margin-top: 60px;
}

.footerBottom p {
    margin: 0;
    color: #ffffff59;
    font-size: 15px;
}

.footerBottom p a {
    color: white;
    font-weight: 500;
    transition: .4s;
  }
  .footerBottom p a:hover {
    color: #e83b3e;
  }
  #myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #000000eb;
	color: white;
	cursor: pointer;
	border-radius: 50%;
	transition: .4s;
	width: 45px;
	height: 45px;
	box-shadow: 0 0 10px #00000021;
}
  #myBtn:hover {
    background-color: #e83b3e; 
    bottom: 25px;
  }
